<div class="sidebar_container">
  <div class="sidebar_content">
    <ul class="links">
      <li>
        <a routerLink="gestion-menu" routerLinkActive="active"
          >Gestión de Menú</a
        >
      </li>
      <li>
        <a routerLink="gestion-aplicaciones" routerLinkActive="active"
          >Gestión de Aplicaciones</a
        >
      </li>
      <li>
        <a routerLink="gestion-roles" routerLinkActive="active"
          >Gestión de Roles</a
        >
      </li>
      <li>
        <a routerLink="gestion-usuarios" routerLinkActive="active"
          >Gestión de Usuarios</a
        >
      </li>
      <li>
        <a routerLink="publicacion" routerLinkActive="active">Publicación</a>
      </li>
      <li>
        <a routerLink="gestion-banners" routerLinkActive="active"
          >Gestión de Banners</a
        >
      </li>
      <li>
        <a routerLink="gestion-ventanas-emergentes" routerLinkActive="active"
          >Gestión de Ventanas Emergentes</a
        >
      </li>
      <li>
        <a routerLink="publicar-documentos-digitales" routerLinkActive="active"
          >Publicar Documentos Digitales</a
        >
      </li>
      <li>
        <a routerLink="gestion-temas" routerLinkActive="active"
          >Gestión de Temas</a
        >
      </li>
      <li>
        <a routerLink="gestion-enlaces-interes" routerLinkActive="active"
          >Gestión de Enlaces de Interés</a
        >
      </li>
      <li>
        <a routerLink="gestion-directorio-telefonico" routerLinkActive="active"
          >Gestión de Directorio Telefónico</a
        >
      </li>
      <li>
        <a routerLink="gestion-cumpleanios" routerLinkActive="active"
          >Gestión de Cumpleaños</a
        >
      </li>
    </ul>
  </div>
</div>
