<div class="sidebar_container">
  <div class="sidebar_content">
    <ul class="links">
      <li>
        <a routerLink="gestion-menu" routerLinkActive="active"
          >Gestión de Menú</a
        >
      </li>
      <li>
        <a routerLink="gestion-aplicaciones" routerLinkActive="active"
          >Gestión de Aplicaciones</a
        >
      </li>
      <li><a>Gestión de Roles</a></li>
      <li><a>Gestión de Usuarios</a></li>
      <li><a>Publicación</a></li>
      <li><a>Gestión de Banners</a></li>
      <li><a>Gestión de Ventanas Emergentes</a></li>
      <li><a>Publicar Documentos Digitales</a></li>
      <li><a>Gestión de Temas</a></li>
      <li><a>Gestión de Enlaces de Interés</a></li>
      <li><a>Gestión de Directorio Telefónico</a></li>
      <li><a>Gestión de Cumpleaños</a></li>
    </ul>
  </div>
</div>
