<div class="d-block pl-4 pr-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="title">{{ title }}</h4>
    <p-button
      label="Nuevo"
      icon="pi pi-plus"
      styleClass="p-button-rounded p-button-sm p-button-accent"
    ></p-button>
  </div>
  <div>
    <label for="float-input" class="mr-2">Ingresar Nombre</label>
    <span class="p-input-icon-right">
      <i class="pi pi-spin pi-spinner"></i>
      <input type="text" pInputText />
    </span>
  </div>
</div>
