@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #23709e;
  --secondary: #04bcdf;
  --light: #ffffff;
  --dark: #1f1f1f;
  --light-gray: #f5f5f5;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", "Archivo", sans-serif;
}

.p-button,
.p-avatar {
  background-color: var(--primary);
  color: #fff;
}

.p-button-accent {
  background-color: var(--secondary);
  color: #fff;
  border: none;
}

.p-divider.p-divider-horizontal {
  margin: 0rem 0;
  padding: 0 2rem;
}

.wrapper {
  height: 100vh;
  margin: 0;

  .main {
    position: relative;
    width: 100%;
    height: calc(100vh - 64px);
    padding: 1.5rem;
    display: flex;

    .sidebar {
      width: 300px;
      height: 100%;

      padding: 0;
      margin: 0;
    }

    .content {
      position: relative;
      width: calc(100% - 300px);
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--dark);
  margin: 0;
  text-transform: uppercase;
}
